.chat-wrapper {
    @include size(calc(100% - #{$headerHeight}), 100%);

    flex: 0 0 auto;
    height: 100%;

    .welcome {
        color: #eeeeee;
        font-size: 12px;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .chats {
        box-sizing: border-box;
        padding: 0 10px;
        margin: 10px 0;
        height: calc(100% - 100px);
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        @include flex-col-nowrap(flex-start, flex-start, flex-start);

        .chat {
            background: $primary-regular;
            position: relative;
            padding: 5px 13px;
            border-radius: 10px;

            list-style: none;
            margin: 10px 0;
            max-width: 200px;
            word-wrap: break-word;
            white-space: pre-line;

            &.right {
                margin-left: auto;
                background: $primary-regular;

                .username {
                    right: 0px;
                    text-align: right;
                }

                .date {
                    text-align: right;

                    left: -35px;
                    right: initial;
                }
            }

            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: 0px;
            }

            .message {
                margin: 0 !important;

                &:hover~.date {
                    display: block;
                }

                span {
                    display: block;
                    color: $white;
                    min-height: 16px;
                    word-wrap: break-word;
                    word-break: break-word;
                }
            }

            .username {
                width: auto;
                color: $white;
                position: absolute;
                left: 0px;
                font-size: 10px;
                white-space: nowrap;

                top: -15px;
            }

            .date {
                display: none;
                width: auto;
                color: $white;
                position: absolute;
                font-size: 8px;
                white-space: nowrap;

                bottom: 2px;
                right: -35px;
                text-align: right;
            }
        }
    }

    .input {
        position: absolute;
        bottom: 0;
        padding: 5px;
        @include size(auto, 100%);
        min-height: 40px;
        max-height: 80px;
        background: $primary-regular;

        @include flex-row-nowrap(flex-start, center, flex-start);
        box-sizing: border-box;
        white-space: pre-wrap;

        .msgbox {
            background: rgba(255, 255, 255, 0.8);
            outline: 0;
            border: none;
            border-radius: 50px;
            padding: 7px 40px 0px 10px;

            @include size(30px, 100%);
            min-height: 30px;
            max-height: 60px;

            box-sizing: border-box;
            resize: none;
            white-space: pre-wrap;

            @extend %invisible-scroll-bar;
        }

        .submitbtn {
            display: none;
        }

        .sendimg {
            position: absolute;
            right: 20px;
            cursor: pointer;

            @include size(30px, 20px);
            @include flex-row-nowrap(center, center, center);

            img {
                @include size(20px, auto)
            }
        }
    }
}