.chatroom {
    .chats {
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0 0;
        height: 510px;
        overflow-y: scroll;

        .chat {
            background: rgba(255, 255, 255, 0.8);
            position: relative;
            padding: 5px 13px;
            font-size: 14px;
            border-radius: 10px;
            list-style: none;
            float: left;
            clear: both;
            margin: 20px 0;
            max-width: 200px;
            word-break: break-word;

            &.right {
                float: right;
                clear: both;
            }

            img {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: 0px;
            }

            p {
                margin: 0 !important;
            }

            a {
                text-decoration: none;
                color: #3498DB;
            }

            .username {
                width: 100%;
                color: #fff;
                position: absolute;
                top: -15px;
                left: 0px;
                font-size: 10px;
                white-space: nowrap;
            }

            .date {
                width: 100%;
                color: #fff;
                position: absolute;
                bottom: -15px;
                left: 0px;
                font-size: 10px;
                white-space: nowrap;
            }
        }
    }


    .input {
        height: 40px;
        width: 100%;
        background: $primary-regular;
        display: flex;
        flex-direction: row;
        align-items: center;

        input[type="text"] {
            background: rgba(255, 255, 255, 0.5);
            outline: 0;
            border: none;
            padding: 0 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-left: 10px;
            height: 30px;
            width: 270px;
            box-sizing: border-box;
            font-size: 14px;
        }

        input[type="submit"] {
            background: transparent;
            border: 1px solid $primary-dark;
            height: 30px;
            width: 70px;
            font-size: 14px;
            box-sizing: border-box;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            color: #fff;
        }

        input[type="submit"]:hover {
            background: $primary-light;
            color: #FFF;
        }
    }
}