@mixin applyTheme($regular) {
    .app-header {
        background-color: $regular;
    }

    .chatroom {
        .chats {
            .chat {
                &.right {
                    background: $regular;
                }
            }
        }

        .input {
            background: $regular;
        }
    }
}

html {
    .gray {
        @include applyTheme($gray-regular);
    }

    .purple {
        @include applyTheme($purple-regular);
    }

    .deeppurple {
        @include applyTheme($deeppurple-regular);
    }

    .pink {
        @include applyTheme($pink-regular);
    }

    .red {
        @include applyTheme($red-regular);
    }

    .indigo {
        @include applyTheme($indigo-regular);
    }

    .lightblue {
        @include applyTheme($lightblue-regular);
    }

    .teal {
        @include applyTheme($teal-regular);
    }

    .orange {
        @include applyTheme($orange-regular);
    }

    .deeporange {
        @include applyTheme($deeporange-regular);
    }

    .bluegrey {
        @include applyTheme($bluegrey-regular);
    }

    .green {
        @include applyTheme($green-regular);
    }

    .lime {
        @include applyTheme($lime-regular);
    }
}